<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TeachME</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'assets/me.png' %}" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <!-- nav  -->
    <nav class="navbar">
      <div class="nav-center">
        <div class="nav-header">
          <a href="" class="nav-logo">
            <img src="{% static 'assets/logo.svg' %}" alt="simply announcements" />
          </a>
          <button class="nav-btn btn">
            <i class="fas fa-align-justify"></i>
          </button>
        </div>
        <div class="nav-links">
          <a href="" class="nav-link"> home </a>
          <div class="nav-link contact-link">
            <button class="btn">
              <i class="fas fa-comment-alt	"></i>
            </button>
            <a href="{% url 'simpleuser:profile' %}" class="btn"> Account </a>
            {% if request.user.is_authenticated %}
            <a class="btn" href="/logout"> Log out </a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <!-- end of nav -->
    <!-- main -->
    <main class="page">
      <!-- header -->
      <header class="hero">
        <div class="hero-container">
          <div class="hero-text">
            <h1>teaching announcements</h1>
            <h4>just announcements</h4>
            <div class="box">
            <a href="#divOne" class="btn"> Add an anouncement </a>
          </div>
          </div>
        </div>
      </header>
    
      <div class="overlay" id="divOne">
        <div class="ov-wrapper">
          <h2>Create an announcement</h2>
          <a href="#" class="close">&times;</a>
          <div class="content">
            <div class="ov-container">
            <form method="post">
              {% csrf_token %}
              <label>Title</label>       
              <input type="text" placeholder="insert a title" name="title">
              <label>description</label>
              <input type="text" placeholder="insert a subject" name="description">
              <label>module</label>
              <select type="text" placeholder="insert a module" name="module">
                {% for choix in list %}
                  <option value={{choix.nom}} type="text">{{choix.nom}}</option>
                {% endfor%}
                </select>
              <input type="file">
              <input type="submit" value="sumbit">
            </form>
            </div>
          </div>
        </div>
      </div>

      <div class="wrapper">
        <div id="search-container">
          <input
          type="search"
          id="search-inputs"
          placeholder="search product name here .."
          />
          <div class="filter">
            <select name="wilaya" id="wilaya">
              <option value="17">djelfa</option>
              <option value="16">alger</option>
            </select>
            <select name="commune" id="commune">
              <option value="hs">hassi bahbeh</option>
              <option value="ou">ouassara</option>
            </select>
            </div>
          <button class="btn">search</button>
        </div>
      </div>
      
      <!-- end of header -->
      <section class="announcements-container">
        <!-- tag container -->
        <div class="tags-container">
          <h4>Modules</h4>
          <div class="tags-list">
            {% for j in list %}
            <a href="tag-template.html">{{j.nom}}</a>
            {%endfor%}

          </div>
        </div>
        <!-- end of tag container -->
        <!-- announcements list -->
     
        <div class="announcements-list">
          <!-- single announcement -->
          {% for i in list2 %}
          <a href="view/{{ i.id }}" class="announcement">
            <img
              src="{% static 'assets/announcements/announcement-1.jpg' %}"
              class="img announcement-img"
              alt=""
            />
            <h5>{{i.title}}</h5>
            <p>price : 1000da | Time : 1h 30mins</p>
          </a>
          {% endfor %}
          <!-- end of single announcement -->
          <!-- single announcement -->
         
        <!-- end of announcements list -->
      </section>
    </main>
    <!-- end of main -->
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">Teachme</span> Built by
        <a href="">ney</a>
      </p>
    </footer>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
