<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TeachME</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="./assets/me.png" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <!-- font-awesome -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
  />
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <!-- nav  -->
    <nav class="navbar">
      <div class="nav-center">
        <div class="nav-header">
          <a href="" class="nav-logo">
            <img src="{% static 'assets/logo.svg' %}" alt="simply announcements" />
          </a>
          <button class="nav-btn btn">
            <i class="fas fa-align-justify"></i>
          </button>
        </div>
        <div class="nav-links">
          <a href="" class="nav-link"> home </a>
          <div class="nav-link contact-link">
            <button class="btn">
              <i class="fas fa-comment-alt	"></i>
            </button>
            <a href="{% url 'simpleuser:profile' %}" class="btn"> Account </a>
            {% if request.user.is_authenticated %}
            <a class="btn" href="/logout"> Log out </a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <!-- end of nav -->
    <main class="page error-page">
        <div class="container mt-5">
    
            <div class="row d-flex justify-content-center">
                
                <div class="col-md-7">
                    
                    <div class="card p-3 py-4">
                        
                        <div class="text-center">
                            <img src="https://i1.rgstatic.net/ii/profile.image/276904016924683-1443030470530_Q512/Faical-Azouaou.jpg" width="100" class="rounded-circle">
                        </div>
                        
                        <div class="text-center mt-3">
                            <h5 class="mt-2 mb-0">Faicel Azouaou                            </h5>
                            <span>Djelfa,Algeria</span>
                            <h6>Azouaou@estin.dz</h6>
                            <h6>+213555487596</h6>
                            <h6>cité des jardins,djelfa</h6>
                        </div>
                        
                       <a href="" class="btn">Message</a>
                        
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        <section class="announcements-container">
            <!-- tag container -->
            <div class="tags-container">
              <h4></h4>
              
              </div>
            </div>
            <!-- end of tag container -->
            <!-- announcements list -->
            <div class="announcements-list">
              <!-- single announcement -->
              <a href="single-announcement.html" class="announcement">
                <img
                  src="./assets/announcements/announcement-1.jpg"
                  class="img announcement-img"
                  alt=""
                />
                <h5>Math course</h5>
                <p>price : 1000da | Time : 1h 30mins</p>
              </a>
              <!-- end of single announcement -->
              <!-- single announcement -->
              <a href="single-announcement.html" class="announcement">
                <img
                  src="./assets/announcements/announcement-1.jpg"
                  class="img announcement-img"
                  alt=""
                />
                <h5>Math course</h5>
                <p>price : 1000da | Time : 1h 30mins</p>
              </a>
              <!-- end of single announcement -->
              <!-- single announcement -->
              <a href="single-announcement.html" class="announcement">
                <img
                  src="./assets/announcements/announcement-2.jpg"
                  class="img announcement-img"
                  alt=""
                />
                <h5>phisics course</h5>
                <p>price : 1000da | Time : 1h 30mins</p>
              </a>
              <!-- end of single announcement -->
              <!-- single announcement -->
              <a href="single-announcement.html" class="announcement">
                <img
                  src="./assets/announcements/announcement-2.jpg"
                  class="img announcement-img"
                  alt=""
                />
                <h5>phisics course</h5>
                <p>price : 1000da | Time : 1h 30mins</p>
              </a>
              <!-- end of single announcement -->
            </div>
            <!-- end of announcements list -->
          </section>
    </main>
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">Teachme</span> Built by
        <a href="">ney</a>
      </p>

    </footer>
    <script src="./js/app.js"></script>
  </body>
</html>
