<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TeachME</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="./css/normalize.css" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <!-- nav  -->
    <nav class="navbar">
      <div class="nav-center">
        <div class="nav-header">
          <a href="index.html" class="nav-logo">
            <img src="./assets/logo.svg" alt="simply announcements" />
          </a>
          <button class="nav-btn btn">
            <i class="fas fa-align-justify"></i>
          </button>
        </div>
        <div class="nav-links">
          <a href="index.html" class="nav-link"> home </a>
          <div class="nav-link contact-link">
            <button class="btn">
              <i class="fas fa-comment-alt	"></i>
            </button>
            <a href="contact.html" class="btn"> Account </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- end of nav -->
    <main class="page">
      <div class="announcement-page">
        <section class="announcement-hero">
          <img
            src="./assets/announcements/announcement-2.jpg"
            class="img announcement-hero-img"
          />
          <article class="announcement-info">
            <h2>Maths Course</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas blandit eros ac consectetur finibus. Ut tortor neque, varius ut nunc vel, tempus euismod nunc. Vestibulum et venenatis nisl. Quisque augue purus, venenatis ut porta nec, varius eget turpis. Praesent ut malesuada mauris. Curabitur ut sodales ex. Donec imperdiet, leo ac consectetur finibus, erat diam finibus sapien, ut congue ligula dui et urna.


            </p>
            <div class="announcement-icons">
              <article>
                <i class="fas fa-clock"></i>
                <h5>hourly price</h5>
                <p>1000DA</p>
              </article>
              <article>
                <i class="far fa-clock"></i>
                <h5>session time</h5>
                <p>1h 30mins</p>
              </article>
              <article>
                <i class="fas fa-user-friends"></i>
                <h5>Max people</h5>
                <p>25 students</p>
              </article>
              <article>
                <i class="fas fa-map-marker-alt	"></i>
                <h5>Location</h5>
                <p>jelfa,djelfa</p>
              </article>
              <article>
                <i class="fas fa-bell	"></i>
                <h5>Module</h5>
                <p>online</p>
              </article>
            </div>
            <p class="announcement-tags">
              Modules : <a href="tag-template.html">analyse</a>
              <a href="tag-template.html">algebre</a>
              <a href="tag-template.html">architecture</a>
              <a href="tag-template.html">probabilty</a>
            </p>
          </article>
        </section>
        <!-- content -->
        <section class="announcement-content">
          <article>
            <h4>Teacher</h4>
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>Name</p>
                <div></div>
              </header>
              <p>
                Faicel Azouaou
              </p>
            </div>
            <div class="single-instruction">
              <header>
                <p>Email</p>
                <div></div>
              </header>
              <p>
                Azouaou@estin.dz
              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>Phone</p>
                <div></div>
              </header>
              <p>
                +213555487596
              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>Adress</p>
                <div></div>
              </header>
              <p>
                cité des jardins,djelfa
              </p>
            </div>
            <!-- end of single instruction -->
          </article>
          <article class="second-column">
            <div>
              <h4>Profile</h4>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                  <div class="picture">
                    <img class="img-fluid" src="https://i1.rgstatic.net/ii/profile.image/276904016924683-1443030470530_Q512/Faical-Azouaou.jpg">
                  </div>
                  <div class="team-content">
                    <h3 class="name">Faicel azouaou</h3>
                    <h4 class="title">maths teacher</h4>
                  </div>
                </div>
          
          </article>
        </section>
      </div>
    </main>
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">Simplyannouncements</span> Built by
        <a href="">ney</a>
      </p>
    </footer>
    <script src="./js/app.js"></script>
  </body>
</html>
