<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TeachME</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="./assets/me.png" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <!-- nav  -->
    <nav class="navbar">
      <div class="nav-center">
        <div class="nav-header">
          <a href="" class="nav-logo">
            <img src="{% static 'assets/logo.svg' %}" alt="simply announcements" />
          </a>
          <button class="nav-btn btn">
            <i class="fas fa-align-justify"></i>
          </button>
        </div>
        <div class="nav-links">
          <a href="" class="nav-link"> home </a>
          <div class="nav-link contact-link">
            <button class="btn">
              <i class="fas fa-comment-alt	"></i>
            </button>
            <a href="{% url 'simpleuser:profile' %}" class="btn"> Account </a>
            {% if request.user.is_authenticated %}
            <a class="btn" href="/logout"> Log out </a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <!-- end of nav -->
    <main class="page">
      <div class="announcement-page">
        <section class="announcement-hero">
          <img
            src="{% static 'assets/announcements/announcement-2.jpg' %}"
            class="img announcement-hero-img"
          />
          <article class="announcement-info">
            <h2>{{take.title}}</h2>
            <p>
                  {{take.description}}
            </p>
            <div class="announcement-icons">
              <article>
                <i class="fas fa-clock"></i>
                <h5>hourly price</h5>
                <p>1000DA</p>
              </article>
              <article>
                <i class="far fa-clock"></i>
                <h5>session time</h5>
                <p>1h 30mins</p>
              </article>
              <article>
                <i class="fas fa-user-friends"></i>
                <h5>Max people</h5>
                <p>25 students</p>
              </article>
              <article>
                <i class="fas fa-map-marker-alt	"></i>
                <h5>Location</h5>
                <p>djelfa,djelfa</p>
              </article>
              <article>
                <i class="fas fa-bell	"></i>
                <h5>Module</h5>
                <p>online</p>
              </article>
            </div>
            <p class="announcement-tags">
              Modules : <a href="tag-template.html">{{take.module.nom}}</a>
            </p>
          </article>
        </section>
        <!-- content -->
        <section class="announcement-content">
          <article>
            <h4>Teacher</h4>
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>Name</p>
                <div></div>
              </header>
              <p>
                {{take.owner.first_name}} {{take.owner.last_name}} 
              </p>
            </div>
            <div class="single-instruction">
              <header>
                <p>Email</p>
                <div></div>
              </header>
              <p>
                {{take.owner}}
              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>Phone</p>
                <div></div>
              </header>
              <p>
               {{take.owner.phone_number}}
              </p>
            </div>
            <!-- end of single instruction -->
            <!-- single instruction -->
            <div class="single-instruction">
              <header>
                <p>Adress</p>
                <div></div>
              </header>
              <p>
                cité des jardins,djelfa
              </p>
            </div>
            <!-- end of single instruction -->
          </article>
          <article class="second-column">
            <div>
              <h4>Profile</h4>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                  <div class="picture">
                    <img class="img-fluid" src="https://i1.rgstatic.net/ii/profile.image/276904016924683-1443030470530_Q512/Faical-Azouaou.jpg">
                  </div>
                  <div class="team-content">
                    <h3 class="name"> {{take.owner.first_name}} {{take.owner.last_name}} </h3>
                    <h4 class="title">{{take.module.nom}} teacher</h4>
                  </div>
                </div>
          
          </article>
        </section>
      </div>
    </main>
    <!-- footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date"></span>
        <span class="footer-logo">Teachme</span> Built by
        <a href="">ney</a>
      </p>

    </footer>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
